@model dynamic

@{
    ViewBag.Title = "Contracts";
    Layout = "_Layout";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li>Contracts</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="trdBlue">Contracting Vehicles</h2>
            <p>
                Many of <span class="trdBold">TRD</span>'s contracts can serve as vehicles to future relationships. Here we provide a look at some of our contracts, should you wish to find out more, contact us at info@trd-services.com.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="trdGreen">SEAPORT-E</h3>
            <p>SeaPort-e is the Navy's electronic platform for acquiring support services in 22 functional areas including Engineering, Financial Management, and Program Management. The Navy Systems Commands (NAVSEA, NAVAIR, SPAWAR, NAVFAC, and NAVSUP), the Office of Naval Research, Military Sealift Command and the United States Marine Corps compete for their service requirements amongst 2400+ SeaPort-e IDIQ multiple award contract holders.</p>
            
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                View SEAPORT-E Contracts
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <h3 class="trdGreen">What is SeaPort-E?</h3>
                            <p>Seaport Enhanced, or SeaPort-e, is the USN's contract vehicle of choice to procure all future engineering, technical, logistics, program management, and financial support services. It is an ID/IQ (indefinite-delivery/indefinite-quantity) multiple award contract (MAC) awarded by NAVSEA in April 2005 to 151 prime contractors (48 large businesses, 103 Small Businesses) and expanded to 503 prime contractors in May 2005 in seven nationwide geographic zones.</p>

                            <p>The SeaPort-e ID/IQ MAC supports all cost reimbursable contract types with the exception of T&M and sole source contracts. It has a 15 year period of performance, valid through April 2019, with a base 5-year contract and two 5 year award terms.</p>

                            <p>SeaPort-e is a Sea Enterprise initiative implementing the CNO's Sea Power 21 transformational objectives and emphasizes the Navy Virtual SYSCOM's focus on implementing cost-effective and integrated business practices to better support our Navy.</p>

                            <h3 class="trdGreen">How does it Work?</h3>
                            <p>For our USN customers, procuring services through SeaPort-e is very similar to what they do today, but faster with reduced, easier to process solicitation documentation and requirements. Contracts issued through SeaPort-e are considered Task Orders (TOs) are governed by the terms and conditions of the awarded SeaPort-e Prime contract.</p>

                            <p>In general, customers identify in what Zone the work is to be performed, create their standard solicitation package (less data not needed and covered by the already awarded SeaPort-e contract) and upload through the SeaPort-e portal. Through the portal, the TO RFP is published for competition to those prime contractors qualified in the Zone where the work is to be performed. Prime contractors in that zone submit their proposals through the SeaPort-e portal for evaluation. The Customer evaluates the proposals, and makes an award.</p>

                            <h3 class="trdGreen">Quality Assurance</h3>
                            <p>TRD measures and ensures the quality of deliverables by integrating Project Management, and Technology Management. The Project Team ideally consist of a Project Manager, and team members who are subject matter experts in different areas such as technical expert, business expert, and process expert.</p>

                            <p>The Project Manager (PM) would work with the client to mutually agree on the scope and the timing of the project. The PM would work with the TRD team of diverse experts to draft a project / product development plan which would be "signed off" by the clients. The PM would also be responsible to allocate resources, identify risks (technical and non-technical), develop risk management plans, communication plans, and product development plans.</p>

                            <p>The technical subject matter experts are then consulted, and their expertise is tapped to identify and address technology risks and uncertainties. Appropriate documentation is expected from these experts to ensure that other team members, including the clients, can effectively leverage any solutions developed.</p>

                            <p>The business and process experts are consulted, and their expertise is tapped to identify and address non-technology risks and uncertainties. Appropriate documentation is expected from these experts to ensure that other team members, including the clients, can effectively leverage any solutions developed. The client is kept abreast of the developments through informal, and formal communications, which has been previously agreed upon in the communication plan. If, as and when needed, the client wants greater or lesser involvement, the communication plan may be updated accordingly.</p>

                            <p>Through clearly identified, intermediate milestones outlined in the project plan, the client, and the entire project team is kept abreast of the development against previously set goals. As and when deviations occur, a root-cause analysis is conducted on significant deviations, and risk management plans are executed.</p>

                            <p>Ultimately, when the project is completed, the PM and the Client liaison collaborate to ensure that project was completed per the latest agreements. A proper handoff is conducted on project deliverables including documentation, and a debrief session is conducted to ensure due knowledge transfer occurs. In the end, client satisfaction is measured through external feedback and internal analysis.</p>
                        </div>
                    </div>
                </div>

            </div><!-- panel-group -->

        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Contract Information</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="contractTable">Contract Number:</td>
                        <td class="contractTable">SeaPorte Award N00178-15-D-8464</td>
                    </tr>
                    <tr>
                        <td class="contractTable">Contract Type:</td>
                        <td class="contractTable">IDIQ</td>
                    </tr>
                    <tr>
                        <td class="contractTable">Coverage:</td>
                        <td class="contractTable">Zone 2, Zone 5, Zone 6</td>
                    </tr>
                    <tr>
                        <td class="contractTable">POP:</td>
                        <td class="contractTable">April 02, 2015 to April 04, 2019</td>
                    </tr>
                    <tr>
                        <td class="contractTable">Vehicle Web Site:</td>
                        <td class="contractTable"><a href="https://auction.seaport.navy.mil/Bid/Login.aspx" target="_blank">https://auction.seaport.navy.mil/Bid/Login.aspx</a></td>
                    </tr>
                    <tr>
                        <td class="contractTable">Customer Satisfaction Contact:</td>
                        <td class="contractTable">Ila Kamdar<br>(951)905-5355 <br><a href="mailto:ila.kamdar@trd-services.com" target="_blank">ila.kamdar@trd-services.com </a></td>
                    </tr>
                    <tr>
                        <td class="contractTable">Seaport-e Point of Contact:</td>
                        <td class="contractTable">(540) 653-7087<br>seaport_epco@navy.mil</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="trdGreen">Certifications</h3>
                <span class="trdBold">8(a)/SDB</span> <br />
                <span class="trdBold">HUBZone</span> <br />
                <span class="trdBold">EDWOSB/WOSB</span> <br />
                <span class="trdBold">ISO 9001:2015</span>
            </div>
            <div class="col-sm-12">
                <h3 class="trdGreen">NAICS Codes</h3>
                <span class="trdBold">561110</span>: Office Administrative Services <br />
                <span class="trdBold">541213</span>: Tax Preparation Services <br /> 
                <span class="trdBold">541330</span>: Engineering Services <br />
                <span class="trdBold">541513</span>: Computer Facilities Management Services <br />
                <span class="trdBold">541519</span>: Information Technology Value Added Resellers <br />
                <span class="trdBold">541611</span>: Administrative Management and General Management Consulting Services <br />
                <span class="trdBold">561421</span>: Telephone Answering Services <br />
                <span class="trdBold">561499</span>: All Other Business Support Services <br />
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>
</div>

@section scripts{
    <script>
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
}