@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>        
        <div class="col-xs-8">
            <div class="animated slideInDown">
                <h2 class="trdBlue text-center">What is TRD?</h2>
                <p class="text-center">
                    <span class="trdBlue trdParagraphStart">TRD</span> Inc. is an 8(a)/SDB, HUBZone and EDWOSB and WOSB certified business that specializes in providing Administrative, Tax and Accounting, and Recruiting services to the private, public, & non-profit sectors.
                </p>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="animated slideInLeft">
                <h3 class="trdGreen">Goals</h3>
                <ul>
                    <li>To be a leader in the administrative industry by providing enhanced services, relationship and profitability.</li>
                    <li>Regional expansion in the private and government sector and develop a strong base of key customers.</li>
                    <li>To build good reputation in this field and become a key player in the industry.</li>
                </ul>                  
            
                <h3 class="trdGreen">Vision</h3>
                <p>To provide quality services that exceeds the expectations of our esteemed customers.</p>

                <h3 class="trdGreen">Mission Statement</h3>
                <p>To build long term relationships with our customers and clients and provide exceptional customer services by pursuing business through innovation and advanced technology.</p>
            
                <h3 class="trdGreen">Core Values</h3>
                <ul>
                    <li>We believe in treating our customers with respect and faith</li>
                    <li>We grow through creativity, invention and innovation.</li>
                    <li>We integrate honesty, integrity and business ethics into all aspects of our business functioning</li>
                </ul>
            </div>                               
        </div>
        <div class="col-xs-6">
            <img class="img-responsive z-depth-2  animated slideInRight" src="~/images/trd/TRD-Image.png" alt="Business people"/>
        </div>
    </div>
</div>