@{
    ViewBag.Title = "Recruitment";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li>Services</li>
    <li>Recruitment</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>        
        <div class="col-xs-8 text-center">
            <h2 class="trdBlue">Recruiting & Staffing</h2>
            <hr/>
            <img class="img-responsive z-depth-2 center-block" src="~/images/trd/recruiting.png" alt="recruiting image"/>
            <br/>
            <p><span class="trdBold">TRD</span> can streamline your recruitment process. Our process of sourcing and matching candidates to your job requirements combined with our effective screening and assessment system ensures that you always have the best possible candidates for your job openings.
            </p>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>