@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li>Services</li>
    <li>Administrative</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center trdBlue">Office Administrative Services</h2>    
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 animated fadeInLeft text-center">
            <h3 class="trdGreen">Preparation of Weekly/Bi-weekly reports</h3>
            <p>We prepare and generate of weekly and/or bi-weekly reports for you.</p>            

            <h3 class="trdGreen">Payroll</h3>
            <p>We handle your Payroll on your behalf.</p>

            <h3 class="trdGreen">Maintain Timecards</h3>
            <p>We can generate a timecard report for payroll.</p>

            <h3 class="trdGreen">Accounting</h3>
            <p>We can streamline and maintain your Ledgers and accounts.</p>

            <h3 class="trdGreen">DCAA Compliance</h3>
            <p><span class="trdBold">TRD</span> can manage your DCAA Compliant Systems.</p>
        </div>

        <div class="col-xs-4 text-center trdBlueBg trdWhiteText z-depth-2">
            <div class="row">
                <img class="img-responsive" src="~/images/trd/adminServices.jpeg" alt="Administrative Services"/>
                <br />
            
                <p>Managing administrative functions is ancillary to a company’s core competency. </p>

                <p>Let <span class="trdBold">TRD</span> manage your administrative functions so you can focus on what’s most important. </p>

                <p><span class="trdBold">TRD</span> offers a wide range of administrative services including accounting, payroll, and data entry.</p>
            </div>
        </div>

        <div class="col-xs-4 animated fadeInRight text-center">
            <h3 class="trdGreen">WAWF and IPP Invoicing</h3>
            <p>We have experience to submit invoices in WAWF and IPP systems.</p>

            <h3 class="trdGreen">Maintaining New Hires</h3>
            <p>We take care of entering in your new hire's information in the accounting system.</p>

            <h3 class="trdGreen">Monthly Status Reports</h3>
            <p>We provide Status reports to help you stay informed.</p>

            <h3 class="trdGreen">Banking</h3>
            <p>We help with your Banking processes and needs.</p>

            <h3 class="trdGreen">Tax Preparation</h3>
            <p><span class="trdBold">TRD</span> can prepare tax packets for it's clients.</p>
        </div>
    </div>
</div>

