@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li>Services</li>
    <li>Tax Perparation</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center">
            <h2 class="trdBlue">Tax Preparation Services</h2>
            <hr />

            <img class="img-responsive z-depth-2 center-block" src="~/images/trd/taxes.jpg" alt="1040 form"/>
            <br />
            <p>
                <span class="trdBold">TRD</span> serves individuals and small businesses. We service both local clients and out-of-state clients. We specialize in preparing and filing your tax returns, representing you or your business before the IRS and the State agencies and servicing your small business.  Feel confident that no tax deduction or tax credit is overlooked and that you are getting the best possible legal tax refund.
            </p>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>


