body {
    padding-top: 120px;
    background-color: #ffffff;
}

.banner {
    top: 0;
    height: 25px;
    position: absolute;
    padding-top: 2px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: #1B3680;
    border-bottom: 0;
}

.trdNav {
    margin-top: 25px;
    background-color: #C9E0F5;
}

.nav.navbar-nav.navbar-right li a {
    color: #5E576B;
}

.navbar-inverse {
    border-bottom: 0;
}

.page-footer {
    background-color: #F2C111;
}

.trdCopywrite {
    color: #1B3680;
}